* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-attach-fixed {
    background-attachment: fixed;
}

.bg-attach-scroll {
    background-attachment: scroll;
}

.bgimg-main {
    background-image: url(../images/bg_main.jpg);
}

.bgimg1 {
    background-image: url(../images/bg1.png);
}

.bgimg2 {
    background-image: url(../images/bg2.jpg);
}

.pos-abs {
    position: absolute;
}

.text {
    height: min-content;
    background-color: rgba(22, 34, 41, 0.9);
    color: #FFFFFF;
    margin: auto;
    text-align: center;
    padding: 80px;
    box-shadow: 0px 0px 10px rgb(229, 236, 240);
}

.v-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.translucent {
    opacity: 0.7;
}

.bgnone {
    background: none;
}

.h100 {
    height: 100vh;
}

.h50 {
    height: 50vh;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}